@import "tailwindcss";

@theme {
  --background-image-portfolio: url("/path-to-your-bg.jpg");
  --font-custom: "BlueDinoFont", sans-serif;
}

@font-face {
  font-family: "BlueDinoFont";
  src: url("/fonts/BlueDino.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
}
